/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 폰트 */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.3);
  height: 4000px;
}

/* 라이브러리 */
.border-red {
  border: 4px solid red;
}

.border-pink {
  border: 4px solid pink;
}

.border-blue {
  border: 4px solid blue;
}

.border-green {
  border: 4px solid green;
}

.border-black {
  border: 4px solid black;
}

.border-gold {
  border: 4px solid gold;
}

.flex {
  display: flex;
}

.flex-jc-e {
  justify-content: flex-end;
}

.flex-jc-s {
  justify-content: flex-start;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height: 100%;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

.relative {
  position: relative;
}

/* 커스텀 */
.con-min-width {
  min-width: 1080px;
}

/* 헤더 */
header {
  position: fixed;
  width: 100%;
  transition: background-color 0.6s ease;
}

header.active {
  background-color: #fff;
}

header.active .top_bar_logo img {
  content: url(./imgs/img_header_logo.svg);
}

header.active .top_bar_menu,
header.active .top_links > .con,
header.active .utils {
  color: #1a1a1a;
}

/* 탑 링크스 */
.top_links {
  height: 37px;
}

.top_links > .con {
  color: #fff;
  font-size: 14px;
}

.top_links > .con > div {
  width: 1745px;
  gap: 8px;
}

/* 탑 바 */
.top_bar {
  height: 91px;
}

.top_bar > .con > div {
  width: 1745px;
}

/* 탑 바 로고 */
.top_bar_logo img {
  width: 126px;
}

/* 탑 바 메뉴 */
.top_bar_menu {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.top_bar_menu a {
  padding: 0 40px;
  transition: color 0.3s ease;
}

.top_bar_menu a:hover {
  color: #ff730f;
}

/* 탑 바 메뉴 아이템 */
.menu_item {
  position: absolute;
  height: 0;
  top: 128px;
  left: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  opacity: 0;
  transition:
    height 0.4s ease,
    opacity 0.3s ease;
}

.top_bar_menu li:hover > .menu_item {
  height: 200px;
  opacity: 1;
}

.menu-1 .menu_item ul {
  padding-right: 220px;
}

.menu-2 .menu_item ul {
  padding-right: 215px;
}

.menu-3 .menu_item ul {
  padding-right: 235px;
}

.menu-4 .menu_item ul {
  padding-right: 150px;
}

.menu_item > .con {
  padding-top: 24px;
}

.menu_item a {
  color: #1a1a1a;
}

.menu_item > .con > ul > li > a {
  font-size: 17px;
  color: #1a1a1a;
  font-weight: 600;
}

.menu_item a {
  display: block;
  color: #1a1a1a;
}

.menu_item ul ul a {
  font-size: 15px;
  color: #4d4d4d;
  padding-top: 12px;
}

.menu_item > .con a:hover {
  color: #ff730f;
}

/* 유틸스 */
.utils {
  width: 328px;
  height: 52px;
  color: #fff;
  font-size: 16px;
}

/* 유틸 1 */
.util-1 {
  font-weight: 600;
}

.util-1 span {
  padding: 0 8px;
}

/* 유틸 2 */
.util_logo-1 {
  font-size: 17px;
}

.util_logo-2 {
  font-size: 12px;
}

/* 유틸 3 */
.util_logo-3 {
  font-size: 24px;
}
